body {
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#gameScreen {
    display: block;
}

#startGame {
    position: absolute;
    margin-left: -100px;
    margin-top: -50px;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 100px;
    display: none;
}

#confirm {
    position: absolute;
    margin-left: -100px;
    margin-top: -50px;
    left: 80%;
    top: 10%;
    width: 200px;
    height: 100px;
    display: none;
}

#troopnumContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -125px;
    display: none;
    width: 250px;
    height: 100px;
    background-color: white;
}

#troopnumber {
    position: absolute;
}

#troopconfirm {
    position: absolute;
    width: 100px;
    height: 25px;
    bottom: 0%;
}

#cancel {
    position: absolute;
    width: 100px;
    height: 25px;
    bottom: 0%;
    right: 0%;
}

#infobox {
    position: absolute;
    width: 200px;
    height: 50px;
    right: 5%;
    top: 5%;
    background-color: white;
}

#battlebutton {
    position: absolute;
    width: 250px;
    height: 150px;
    background-color: white;
    left: 700px;
    top: 550px;
    display: none;
}

#waitbox {
    position: absolute;
    width: 500px;
    height: 250px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -125px;
    background-color: white;
    display: none;
}

#waittext {
    font-size: 50px;
    align-items: center;
}








#troops_sun {
    position: absolute;
    top: 175px;
    left: 256px;
}
    
#troops_venus {
    position: absolute;
    top: 380px;
    left: 225px;
}
    
#troops_earth {
    position: absolute;
    top: 280px;
    left: 85px;
}
    
#troops_saturn {
    position: absolute;
    top: 295px;
    left: 430px;
}
    
#troops_jupiter {
    position: absolute;
    top: 115px;
    left: 485px;
}
    
    
    
    
#troops_sunner {
    position: absolute;
    top: 215px;
    left: 900px;
}
    
#troops_penutt {
    position: absolute;
    top: 355px;
    left: 665px;
}
    
#troops_chese {
    position: absolute;
    top: 440px;
    left: 950px;
}
    
#troops_kyoob {
    position: absolute;
    top: 410px;
    left: 795px;
}
    
#troops_tulia {
    position: absolute;
    top: 195px;
    left: 675px;
}
    
    
    
    
#troops_banasun {
    position: absolute;
    top: 875px;
    left: 440px;
}
    
#troops_george {
    position: absolute;
    top: 795px;
    left: 285px;
}
    
#troops_lennie {
    position: absolute;
    top: 675px;
    left: 420px;
}
    
#troops_nrutas {
    position: absolute;
    top: 800px;
    left: 610px;
}
    
    
#troops_lun {
    position: absolute;
    top: 865px;
    left: 880px;
}
    
#troops_haf {
    position: absolute;
    top: 895px;
    left: 1040px;
}
    
#troops_fotbal {
    position: absolute;
    top: 730px;
    left: 1090px;
}
    
#troops_apolle {
    position: absolute;
    top: 760px;
    left: 1250px;
}
    
    
    
#troops_smun {
    position: absolute;
    top: 405px;
    left: 1305px;
}
    
#troops_pairr {
    position: absolute;
    top: 200px;
    left: 1235px;
}
    
#troops_cooki {
    position: absolute;
    top: 270px;
    left: 1495px;
}
    
#troops_isars {
    position: absolute;
    top: 215px;
    left: 1670px;
}
    
    
    
    
#troops_potunto {
    position: absolute;
    top: 805px;
    left: 1690px;
}
    
#troops_eg {
    position: absolute;
    top: 710px;
    left: 1535px;
}
    
#troops_enolla {
    position: absolute;
    top: 595px;
    left: 1725px;
}
    
#troops_vabos {
    position: absolute;
    top: 890px;
    left: 1520px;
}
